@model IEnumerable<DatabaseAccess.TimeTblTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Teacher ID
        </th>

        <th>
            Teacher
        </th>

        <th>
            Subject
        </th>

        <th>
            Start Time
        </th>

        <th>
            End Time
        </th>

        <th>
            Day
        </th>

        <th>
            Status
        </th>

        <th>
            User
        </th>

        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.StaffTable.StaffID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StaffTable.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Day)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserTable.FullName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TimeTableID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TimeTableID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TimeTableID })
    </td>
</tr>
}

</table>
