@model IEnumerable<DatabaseAccess.ExamMarksTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Exam
        </th>
        <th>
            Student
        </th>
        <th>
            Subject
        </th>
        <th>
            Total Marks
        </th>
        <th>
            Obtain Marks
        </th>
        <th>
            User
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ExamTable.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StudentTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalMarks)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ObtainMarks)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserTable.FullName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MarksID }, new { @class = "btn btn-info" })
        @Html.ActionLink("Details", "Details", new { id = item.MarksID }, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new { id = item.MarksID })
    </td>
</tr>
}

</table>
